.DS_store
.idea
*.pyc
.ipynb_checkpoints
notebook
pyiron.log
scratch.ipynb
projects
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
!writeup/supplementary/figures/*.pdf
!writeup/main/figures/*.pdf
!figures/*.pdf
*.gz
writeup/supplementary/figures/*structures.pptx
*.cmti001.*
